


 body {
   background-color: azure;
    text-align: center;
    padding: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
 }
   p { 
    background-color: rgb(rgb(32, 32, 32);
     text-align: left;
     text-align: right;
     padding-right: 150px;
     padding-top: 30px;
     padding-bottom: 30px;
 } 