


 body {

    background-color: azure;
    text-align: center;
    padding: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
 }
 
  /* p { 
     /* this css is for the use of Graphics Design Assignment */
    background-color: rgb(rgb(32, 32, 32);
    background-color: ;
     text-align: center;
     padding: 150px;
     padding-top: 30px;
     padding-bottom: 30px;
 } 